<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Identification
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="welcomePageTitle" value="#{msg.aut_page_welcome}"/>
        </h1>
        <p>
            <h:outputText id="welcomePageZone1" value="#{msg.aut_page_zone1}"/>
        </p>
        <h:messages globalOnly="true" layout="list" errorClass="text-error"/>        
        <h:form id="loginForm">
            <table>
                <tr>
                    <td><h:outputLabel id="loginLabel" value="#{msg.label_login}"/></td>
                    <td> <h:inputText 
                            id="loginInputText" 
                            value="#{Personnes.login}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:loginInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="passwordLabel" value="#{msg.label_password}"/></td>
                    <td><h:inputSecret 
                            id="passwordInputText" 
                            value="#{Personnes.motDePasse}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>
                        <h:commandButton id="validerButton" value="#{msg.button_text}" action="#{Personnes.authentification}"/>
                    </td>
                </tr>
            </table>
        </h:form>  
    </ui:define>
	<ui:define name="footer">
        Copyright @e-ecole
    </ui:define>    
</ui:composition>

