<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Création personne
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="welcomePageTitle" value="E-School"/>
        </h1>
        <p>
            <h:outputText id="welcomePageZone1" value="Création d'une personne"/>
        </p>
        <h:messages globalOnly="true" layout="list" errorClass="text-error"/>        
        <h:form id="loginForm">
            <table>
                <tr>
                    <td><h:outputLabel id="nomLabel" value="Nom "/></td>
                    <td> <h:inputText 
                            id="nomInputText" 
                            value="#{Personne.nom}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:loginInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="prenomLabel" value="Prénom "/></td>
                    <td><h:inputText 
                            id="prenomInputText" 
                            value="#{Personne.prenom}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="datenaissanceLabel" value="Date de naissance"/></td>
                    <td><h:inputText 
                            id="datenaissanceInputText" 
                            value="#{Personne.dateNaissance}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                 <tr>
                    <td><h:outputLabel id="emailLabel" value="Email "/></td>
                    <td><h:inputText 
                            id="emailInputText" 
                            value="#{Personne.email}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="loginLabel" value="Login "/></td>
                    <td><h:inputText 
                            id="loginInputText" 
                            value="#{Personne.login}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="passwordLabel" value="Mot de passe "/></td>
                    <td><h:inputSecret 
                            id="passwordInputText" 
                            value="#{Personne.motDePasse}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                 <tr>
                    <td><h:outputLabel id="photoLabel" value="Photo "/></td>
                    <td><h:inputText
                            id="photoInputText" 
                            value="#{Personne.photo}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="rueLabel" value="Rue "/></td>
                    <td><h:inputText 
                            id="rueInputText" 
                            value="#{Personne.rue}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="codepostalLabel" value="Code postal "/></td>
                    <td><h:inputText 
                            id="codePostalInputText" 
                            value="#{Personne.codePostal}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="villeLabel" value="Ville "/></td>
                    <td><h:inputText 
                            id="villeInputText" 
                            value="#{Personne.ville}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                 <tr>
                    <td><h:outputLabel id="typeLabel" value="Type "/></td>
                    <td><h:inputText 
                            id="typeInputText" 
                            value="#{Personne.type}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
            <tr>
                    <td>&#160;</td>
                    <td>
                        <h:commandButton id="validerButton" value="Valider" action="#{Personnes.authentification}"/>
                    </td>
                </tr>
            </table>
        </h:form>  
    </ui:define>
	<ui:define name="footer">
        Copyright @e-ecole
    </ui:define>    
</ui:composition>

