<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="template-admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Identification
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="welcomePageTitle" value="Bienvue sur l'application E-Ecole"/>
        </h1>
        <p>Merci de vous identifier </p>
        <h:messages globalOnly="true" layout="list" errorClass="text-error"/> 

        <h:form id="listeComptesForm" rendered="#{!empty loginPersonneBean.login}">

            <h:dataTable 
                id="listeComptes" 
                var="compte" 
                value="#{chercherEnseignantsBean.listePersonne}" 
                styleClass="table table-striped table-bordered"
                columnClasses="none,none,none,money,none">

                <!--                <h:column id="detailColumn">
                                    <h:commandLink id="detailLink" value="Detail" actionListener="#{myAccountsBean.updateSelected}"/>
                                </h:column>-->

                <h:column id="nom">
                    <f:facet name="header">
                        <h:outputText id="nomText" value="Nom"/>
                    </f:facet>
                    <h:outputText id="nomValue" value="#{compte.nom}"/>
                </h:column>

                <h:column id="prenom">
                    <f:facet name="header">
                        <h:outputText id="PrenomText" value="Prenom"/>
                    </f:facet>
                    <h:outputText id="PrenomValue" value="#{compte.prenom}"/>
                </h:column>

                <h:column id="login">
                    <f:facet name="header">
                        <h:outputText id="loginText" value="Login"/>
                    </f:facet>
                    <h:outputText id="loginValue" value="#{compte.login}"/>
                </h:column>

                <h:column id="email">
                    <f:facet name="header">
                        <h:outputText id="emailText" value="Email"/>
                    </f:facet>
                    <h:outputText id="emailValue" value="#{compte.email}"/>
                </h:column>

                <!--                <h:column id="deleteColumn">
                                    <h:commandButton id="deleteLink" value="Supprimer"/>
                                </h:column>-->

            </h:dataTable>


<!--            <h:panelGroup rendered="#{!empty myAccountsBean.selectedAccount}">
    <h2>Détail du compte choisi</h2>

    <p> Nom :  #{myAccountsBean.selectedAccount.libelle}</p>
    <p> Solde :  #{myAccountsBean.selectedAccount.solde}</p>
    <h:panelGroup rendered="#{myAccountsBean.selectedAccount['class'].simpleName == 'CompteCourant'}">
        <p> Decouvert autorise :  #{myAccountsBean.selectedAccount.decouvertAutorise}</p>
    </h:panelGroup>
    <h:panelGroup rendered="#{myAccountsBean.selectedAccount['class'].simpleName == 'CompteEpargne'}">
        <p> Taux intérêt :  #{myAccountsBean.selectedAccount.tauxInteret}</p>
        <p> Plafond versement :  #{myAccountsBean.selectedAccount.plafondVersement}</p>
    </h:panelGroup>
</h:panelGroup>-->
        </h:form>

    </ui:define>
    <ui:define name="footer">
        Copyright @e-ecoles
    </ui:define>    
</ui:composition>

