<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="template-etudiant.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Identification
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="welcomePageTitle" value="Bienvue sur l'application E-Ecole"/>
        </h1>
        
    </ui:define>
	<ui:define name="footer">
        Copyright @e-ecole
    </ui:define>    
</ui:composition>

