<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="template-accueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Identification
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="welcomePageTitle" value="Bienvue sur l'application E-Ecole"/>
        </h1>
        <p>Merci de vous identifier </p>
        <h:messages globalOnly="true" layout="list" errorClass="text-error"/>        
        <h:form id="loginForm">
            <table>
                <tr>
                    <td><h:outputLabel id="loginLabel" value="#{msg['label_login']}"/></td>
                    <td><h:inputText 
                            id="loginInputText" 
                            value="25" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:loginInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="passwordLabel" value="Password :"/></td>
                    <td><h:inputSecret 
                            id="passwordInputText" 
                            value="25" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>
                        <h:commandButton id="validerButton" value="Valider" action="pagePerso"/>
                    </td>
                </tr>
            </table>
        </h:form>  
    </ui:define>
	<ui:define name="footer">
        Copyright @e-ecoles
    </ui:define>    
</ui:composition>

